In [2]:
import pandas as pd

In [26]:
balance_df = pd.read_excel('S:/Car/ML ready data/balance_frame.xlsx')
feature_df = pd.read_excel('S:/Car/ML ready data/feature_frame.xlsx')
balance_df.shape, feature_df.shape
balance_df.head()

,Unnamed: 0,Insurance Validity,Fuel Type,Year of Manufacture,bt,km,transmission,ownerNo,oem,model,...,Alloy Wheel Size,No Door Numbers,Mileage,Super Charger,Turning Radius,Top Speed,City,price_in_lakhs,Registration Year New,Gear
0,0,5,4,2015.0,2,120000,1,3,20,160,...,10,5.0,23.10,1,4.7,25,0,4.00,2018,3
1,1,2,4,2018.0,7,32706,1,2,6,50,...,4,4.0,17.00,1,5.3,40,0,8.11,2018,3
2,2,2,4,2018.0,2,11949,1,1,29,273,...,2,5.0,23.84,1,4.9,25,0,5.85,2018,3
3,3,2,4,2014.0,8,17794,1,1,9,87,...,2,4.0,19.10,1,4.7,47,0,4.62,2014,3
4,4,5,1,2015.0,7,60000,1,1,20,178,...,4,5.0,23.65,1,5.2,62,0,7.90,2018,3

In [27]:
feature_df.head(2)

,Unnamed: 0,Features,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication
0,0,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Digital Odomete...","['Adjustable Head Lights', 'Manually Adjustabl...","['Centeral Locking', 'Child Safety Locks', 'Da...",0
1,1,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Fog Lights Front',...","['Anti Lock Braking System', 'Centeral Locking...","['Cd Player', 'Radio', 'Speakers Front', 'Spea..."

In [31]:
feature_df['Features'].dtype

dtype('O')

In [29]:
feature_features = set(feature for sublist in feature_df['Features'] for feature in sublist)
for feature in feature_features:
    feature_df[f'Feature_{feature}'] = feature_df['Features'].apply(lambda x: 1 if feature in x else 0)
feature_df.head(2)

,Unnamed: 0,Features,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication,Feature_P,Feature_D,Feature_o,...,Feature_M,Feature_L,"Feature_,",Feature_r,Feature_p,Feature_e,Feature_i,Feature_G,Feature_k,Feature_[
0,0,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Digital Odomete...","['Adjustable Head Lights', 'Manually Adjustabl...","['Centeral Locking', 'Child Safety Locks', 'Da...",0,1,0,1,...,1,1,1,1,0,1,1,0,1,1
1,1,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Fog Lights Front',...","['Anti Lock Braking System', 'Centeral Locking...","['Cd Player', 'Radio', 'Speakers Front', 'Spea...",1,0,1,...,0,1,1,1,0,1,1,0,1,1

In [35]:
feature_df['Safety'] =  feature_df['Safety'].astype(str)
feature_df['Safety'].dtype

dtype('O')

Sample Code

In [36]:
feature_df.drop(columns=['Safety','Features','Comfort & Convenience','Interior','Exterior','Entertainment & Communication'],inplace=True)

In [38]:
feature_df.drop('Unnamed: 0',axis=1,inplace=True)

In [39]:
df = pd.concat([balance_df,feature_df],axis=1)
df.head(2)

,Unnamed: 0,Insurance Validity,Fuel Type,Year of Manufacture,bt,km,transmission,ownerNo,oem,model,...,Feature_M,Feature_L,"Feature_,",Feature_r,Feature_p,Feature_e,Feature_i,Feature_G,Feature_k,Feature_[
0,0,5,4,2015.0,2,120000,1,3,20,160,...,1,1,1,1,0,1,1,0,1,1
1,1,2,4,2018.0,7,32706,1,2,6,50,...,0,1,1,1,0,1,1,0,1,1

In [41]:
df.isna().sum()

Unnamed: 0              0
Insurance Validity      0
Fuel Type               0
Year of Manufacture    20
bt                      0
                       ..
Feature_e               0
Feature_i               0
Feature_G               0
Feature_k               0
Feature_[               0
Length: 88, dtype: int64

In [42]:
df.dropna(inplace=True)

In [43]:
from sklearn.cluster import KMeans
k_means = KMeans(n_clusters=3, random_state=42)
df['cluster'] = k_means.fit_predict(df.drop(columns=['price_in_lakhs','Unnamed: 0'],axis=1))

In [44]:
cluster_means = df.groupby('cluster')['price_in_lakhs'].mean().reset_index()
df = df.merge(cluster_means, on='cluster', suffixes=('', '_cluster_mean'))
df.head(2)

,Unnamed: 0,Insurance Validity,Fuel Type,Year of Manufacture,bt,km,transmission,ownerNo,oem,model,...,"Feature_,",Feature_r,Feature_p,Feature_e,Feature_i,Feature_G,Feature_k,Feature_[,cluster,price_in_lakhs_cluster_mean
0,0,5,4,2015.0,2,120000,1,3,20,160,...,1,1,0,1,1,0,1,1,1,17.483206
1,1,2,4,2018.0,7,32706,1,2,6,50,...,1,1,0,1,1,0,1,1,0,15.619328

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
X = df.drop(columns=['price_in_lakhs','Unnamed: 0'],axis=1)
y = df['price_in_lakhs']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
r2_score(y_test, y_pred)

Mean Squared Error: 3749.6816981250986

0.3201163628316456

In [ ]:
# Aggregating continuous variable by clusters
cluster_means = df.groupby('cluster')['target'].mean().reset_index()
df = df.merge(cluster_means, on='cluster', suffixes=('', '_cluster_mean'))

# Splitting data for supervised learning
X = df.drop(columns=['target', 'safety'])
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training a regression model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Predicting and evaluating the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Sample DataFrame
df = pd.DataFrame({
    'category1': ['A', 'B', 'A', 'C'],
    'category2': ['X', 'Y', 'X', 'Z'],
    'safety': [['feature1', 'feature2'], ['feature2', 'feature3'], ['feature1'], ['feature1', 'feature3']],
    'target': [10, 20, 30, 40]
})

# One-Hot Encoding categorical variables
encoder = OneHotEncoder(sparse=False)
encoded_features = encoder.fit_transform(df[['category1', 'category2']])

# Handling list of categories (e.g., safety features)
safety_features = set(feature for sublist in df['safety'] for feature in sublist)
for feature in safety_features:
    df[f'safety_{feature}'] = df['safety'].apply(lambda x: 1 if feature in x else 0)

# Combine encoded features with safety features
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names(['category1', 'category2']))
df = pd.concat([df, encoded_df], axis=1)

# Clustering
kmeans = KMeans(n_clusters=2, random_state=42)
df['cluster'] = kmeans.fit_predict(df.drop(columns=['safety', 'target']))

# Aggregating continuous variable by clusters
cluster_means = df.groupby('cluster')['target'].mean().reset_index()
df = df.merge(cluster_means, on='cluster', suffixes=('', '_cluster_mean'))

# Splitting data for supervised learning
X = df.drop(columns=['target', 'safety'])
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training a regression model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Predicting and evaluating the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')